<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SA46_Team02a_SportsBookingSystemEntities" connectionString="metadata=res://*/BookingEntity.csdl|res://*/BookingEntity.ssdl|res://*/BookingEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SA46_Team02a_SportsBookingSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SA46_Team02a_SportsBookingSystemEntities1" connectionString="metadata=res://*/BookingEntityModel.csdl|res://*/BookingEntityModel.ssdl|res://*/BookingEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SA46_Team02a_SportsBookingSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Team02AEntities" connectionString="metadata=res://*/BookingEntityModel.csdl|res://*/BookingEntityModel.ssdl|res://*/BookingEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Team02A;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Team02AEntities1" connectionString="metadata=res://*/SportsFacilitySystemModel.csdl|res://*/SportsFacilitySystemModel.ssdl|res://*/SportsFacilitySystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Team02A;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Team02aEntities" connectionString="metadata=res://*/SportsFacilitySystemModel.csdl|res://*/SportsFacilitySystemModel.ssdl|res://*/SportsFacilitySystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=UpdateSportsFacility;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NewSportsEntities" connectionString="metadata=res://*/NewSportsModel.csdl|res://*/NewSportsModel.ssdl|res://*/NewSportsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=NewSports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>